@import '../commons/mixins';

/* Nav */
.menu {
    .head {
        display: none;

        .profile {
            font-weight: bold;
            color: var(--text-color);
        }
        
        @include tablet {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 25px;
        }
    }

    ul {
        list-style: none;
    }

    > ul > li {
        display: inline-block;

        @include tablet {
            display: block;
        }
    }

    > ul > li:not(:last-child) {
        margin-right: 40px;

        @include tablet {
            margin-right: 0;
        }
    }

    a {
        text-decoration: none;
        text-transform: capitalize;
        font-size: 16px;
        color: var(--text-color);
        line-height: 1.5;
        display: block;
    }

    > ul > li > a {
        padding: 24px 0;

        &.active {
            border-bottom: 3px solid var(--border-third-color);
        }
        
        &:hover {
            border-bottom: 1px solid var(--border-third-color);
        }

        @include tablet {
            padding: 12px 0;
        }
    }
    
    svg {
        font-size: 10px;
        pointer-events: none;
        user-select: none;
        position: absolute;
        color: var(--icon-primary-color);
        top: calc(50% - 5px);

        @include tablet {
            height: 20px;
            width: 20px;
            border: 1px solid var(--border-secondary-color);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            pointer-events: auto;
            cursor: pointer;
            top: 7px;
        }
    }

    > ul > li > svg {
        right: 0;
    }

    .sub-menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 230px;
        padding: 15px 0;
        background-color: var(--secondary-color);
        box-shadow: 0 0 5px var(--shadow-primary-color);
        z-index: 1;
        transform-origin: top;
        transform: scaleY(0);
        visibility: hidden;
        opacity: 0;

        @include tablet {
            position: static;
            opacity: 1;
            transform: none;
            visibility: visible;
            padding: 0;
            transition: none;
            box-shadow: none;
            width: 100%;
            display: none;
        }
    }

    .sub-menu a {
        padding: 6px 24px;

        @include tablet {
            padding: 12px 0 12px 15px;
        }
    }

    li:hover > .sub-menu {
        opacity: 1;
        transform: none;
        visibility: visible;
        transition: all 0.5s ease;
    }

    .sub-menu span {
        background-image: linear-gradient(var(--icon-primary-color), var(--icon-primary-color));
        background-size: 0 1px;
        background-repeat: no-repeat;
        background-position: 0 100%;
        transition: background-size 0.5s ease;

        @include tablet {
            background-image: none;
        }
    }

    .sub-menu li:hover > a > span {
        background-size: 100% 1px;
    }

    .sub-menu svg {
        transform: rotate(-90deg);
        right: 24px;

        @include tablet {
            transform: none;
            right: 0;
        }
    }

    @include tablet {
        position: fixed;
        right: 0;
        top: 0;
        width: 320px;
        height: 100%;
        background-color: var(--primary-color);
        padding: 15px 30px 30px;
        overflow-y: auto;
        z-index: 1;
        transform: translateX(100%);

        .close-menu-btn {
            height: 35px;
            width: 35px;
            position: relative;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            cursor: pointer;
            border: none;
        }

        .close-menu-btn::before,
        .close-menu-btn::after {
            content: '';
            position: absolute;
            width: 28px;
            height: 2px;
            background-color: var(--icon-primary-color);
        }

        .close-menu-btn::before {
            transform: rotate(45deg);
        }
    
        .close-menu-btn::after {
            transform: rotate(-45deg);
        }

        li {
            border-bottom: 1px solid var(--border-secondary-color);
        }
    
        li:first-child {
            border-top: 1px solid var(--border-secondary-color);
        }

        .sub-menu li:last-child {
            border: none;
        }
    }
}

.open {
    transform: none;
}
