{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    SCM - Editar Saída
{% endblock %}

{% block content %}
<div class="form" x-data="getEstoque">
    <div class="text">Editar Saída</div>
    <form action="." method="POST">
        {% csrf_token %}
        <div class="form-row">
            <div class="input-data">
                {{ form.requisicao|attr:'required:true' }}
                {% for error in field.errors %}
                    <span class="text-muted">{{ error }}</span>
                {% endfor %}
                <div class="underline"></div>
                <label>Nº Requisição</label>
            </div>
            <div class="choice-data">
                {{ form.instituicao }}
                <div class="underline"></div>
                <label>Instituição</label>
            </div>
        </div>
        <div class="form-row">
            <div class="input-data">
                {{ form.modalidade|attr:'required:true' }}
                <div class="underline"></div>
                <label>Modalidade</label>
            </div>
            <div class="input-data">
                {{ form.data|attr:'required:true' }}
                <div class="underline"></div>
                <label>Data</label>
            </div>
            <div class="input-data">
                {{ form.semana|attr:'required:true' }}
                <div class="underline"></div>
                <label>Semana</label>
            </div>
        </div>
        <div id="estoque">
            <template
                    x-for="item in items"
                    :key="item.id"
                    class="inlineform"
            >
                <div class="form-row">
                    <div class="choice-data">
                        <select
                                x-model="item.produto"
                                @change="getProduto(item)"
                                class="clProduto"
                        >
                            <option value="">------</option>
                            <template x-for="produto in produtos">
                                <option
                                :value="produto.id"
                                x-text="produto.produto"
                                :selected="item.produto == produto.id"
                                ></option>
                            </template>
                        </select>
                        <div class="underline"></div>
                    </div>
                    <div class="input-data">
                        <input
                                type="number"
                                min="0"
                                step="1"
                                x-model="item.quantidade_req"
                                @change="updateItem(item)"
                                class="clQuantidadeReq"
                        >
                        <div class="underline"></div>
                        <label>Quantidade Requerida</label>
                    </div>
                    <div class="input-data">
                        <input
                                type="number"
                                min="0"
                                step="1"
                                x-model="item.quantidade"
                                @change="updateItem(item)"
                                class="clQuantidade"
                        >
                        <div class="underline"></div>
                        <label>Quantidade</label>
                    </div>
                    <div class="input-data">
                        <input
                                type="hidden"
                                min="0"
                                step="1"
                                x-model="item.quantidade"
                                @change="updateItem(item)"
                        >
                        <div class="underline"></div>
                        <label>
                            Saldo em Estoque
                            <span x-text="item.saldo" class="lead"></span>
                            <input type="hidden">
                        </label>
                    </div>
                </div>
            </template>
        </div>
        <button type="submit" class="edit" title="Salvar">
    </form>
</div>
{% endblock %}

{% block js %}
  <script
    src="{% static 'js/estoque_saida_update.js' %}"
    data-tokens='{ "csrf": "{{ csrf_token }}", "pk": "{{ object.pk }}" }'
  ></script>
{% endblock js %}