{% extends 'base.html' %}
{% load static %}

{% block title %}
{% if object.movimento == 'e' %}
SCM - Detalhe da Entrada {{ object }}
{% else %}
SCM - Detalhe da Saída {{ object }}
{% endif %}
{% endblock %}

{% block content %}
<div
  class="detail container"
  x-data="getEstoque"
>
  <div class="table">
    <div class="table_header">
      <p>Informações Completas</p>
      <div>
        {% if object.movimento == 'e' %}
        <button
          class="back"
          title="Voltar"
        >
          <a href="{% url 'estoque:estoque_entrada_list' %}">
            <i class='bx bx-arrow-back'></i>
            Voltar
          </a>
        </button>
        <button
          class="generate"
          title="Gerar PDF"
        >
          <a
            href="{% url 'estoque:entrada_pdf' object.pk %}"
            target="_blank"
          >
            <i class='bx bxs-file-pdf'></i>
            Gerar Requisição
          </a>
        </button>
        {% else %}
        <button
          class="back"
          title="Voltar"
        >
          <a href="{% url 'estoque:estoque_saida_list' %}">
            <i class='bx bx-arrow-back'></i>
            Voltar
          </a>
        </button>
        <button
          class="generate"
          title="Gerar Requisição"
        >
          <a
            href="{% url 'estoque:requisicao_pdf' object.pk %}"
            target="_blank"
          >
            <i class='bx bxs-file-pdf'></i>
            Gerar Requisição
          </a>
        </button>
        {% endif %}
        {% if user.is_superuser %}

        {% endif %}
      </div>
    </div>
    <div class="table_section">
      <form
        action="."
        method="POST"
      >
        {% csrf_token %}

        <button
          type="submit"
          class="edit"
          title="Salvar"
        >
          <i class='bx bxs-edit'></i>
          Salvar
        </button>
        <table>
          <tbody>
            {% if object.movimento == 'e' %}
            <tr>
              <th>Item:</th>
              <td>{{ object }}</td>
            </tr>
            <tr>
              <th>Nota Fiscal:</th>
              <td>{{ object.nf_formated }}</td>
            </tr>
            <tr>
              <th>Fornecedor:</th>
              <td>{{ object.fornecedor }}</td>
            </tr>
            <tr>
              <th>Criada em:</th>
              <td>{{ object.data }}</td>
            </tr>
            {% else %}
            <tr>
              <th>Nº Requisição:</th>
              <td>
                {{ form.requisicao }}
              </td>
            </tr>
            <tr>
              <th>Instituição:</th>
              <td>
                {{ form.instituicao }}
              </td>
            </tr>
            <tr>
              <th>Modalidade:</th>
              <td>{{ form.modalidade }}</td>
            </tr>
            <tr>
              <th>Criada em:</th>
              <td>{{ object.data }}</td>
            </tr>
            <tr>
              <th>Semana:</th>
              <td>{{ object.semana }}</td>
            </tr>
            {% endif %}
            <tr>
              <th>Funcionário:</th>
              <td>{{ object.funcionario.first_name }} {{ object.funcionario.last_name }}</td>
            </tr>
          </tbody>
        </table>
      </form>
      <table>
        <thead>
          {% if object.movimento == 'e' %}
          <th>#</th>
          <th>Produto</th>
          <th>Quantidade</th>
          <th>Preço Unitário</th>
          <th>Preço Total</th>
          <th>Saldo em Estoque</th>
          {% else %}
          <th>#</th>
          <th>Produto</th>
          <th>Quantidade</th>
          <th>Quantidade Requerida</th>
          <th>Saldo em Estoque</th>
          {% endif %}
        </thead>
        <tbody>
          <template
            x-for="item in items"
            :key="item.id"
          >
            <tr>
              <td></td>
              <td>
                <select
                  x-model="item.produto"
                  @change="getProduto(item)"
                >
                  <option value="">------</option>
                  <template x-for="produto in produtos">
                    <option
                      :value="produto.id"
                      x-text="produto.produto"
                      :selected="item.produto == produto.id"
                    ></option>
                  </template>
                </select>
              </td>
              <td>
                <input
                  type="number"
                  min="0"
                  step="1"
                  x-model="item.quantidade"
                  @change="updateItem(item)"
                >
              </td>
              <td>
                <input
                  type="number"
                  min="0"
                  step="1"
                  x-model="item.quantidade_req"
                  @change="updateItem(item)"
                >
              </td>
              <td>
                <span x-text="item.saldo"></span>
              </td>
            </tr>
          </template>
          <!-- quantidade_req
          quantidade
          preco
          total
          saldo -->
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
<script
  src="{% static 'js/estoque_saida_update.js' %}"
  data-tokens='{ "csrf": "{{ csrf_token }}", "pk": "{{ object.pk }}" }'
></script>
{% endblock js %}